* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .PluApp {
    width: 100vw;
    height: 100vh;
    max-width: 100vh;
    margin: 0 auto 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/imagesApp/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap : 5%;
  }

  