.savoirplus {
    width: 100vw;
    height: 100vh;
    max-width: 100vh;
    min-width: 250px;
    margin: 0 auto 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("/imagesApp/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.savoirplus .continer {
    width: 85%;
    height: 60%;
    background-color: rgba(193, 208, 245, 0.6);
    backdrop-filter: blur(10px); 
    border-radius: 10px;  
    padding: 15px; 
    overflow-y:scroll;
}

.savoirplus .continer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #1a1a1a; 
    text-align: justify;
    font-weight: 500; 
}

.savoirplus .close {
    width: 85%;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 60px;
    margin: 0 auto 0;
    border: 1px solid rgb(150, 194, 248);
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(171, 206, 249, 0.489);
    
}

.continer span {
    font-weight: bold;
}