
.startpage {
    width: 100vw;
    height: 100vh;
    max-width: 100vh;
    min-width: 250px; 
    margin: 0 auto 0;
    background-image: url("/imagesApp/background.png");
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.elements-continer {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    margin-top: 20px;
    position: absolute;
    bottom: 10%;
    gap : 15px
}


.element {
    font-size: 1.4rem;
    font-weight: 600;
    background-color: rgba(175, 210, 253, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(175, 210, 253 , 0.5);
    padding: 12px 50px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    border: none;
    flex-grow: 1; 
}


.commencer {
    background-color: #FFE768;
    color: #000000;
}
