/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Conteneur principal */
.container {
    width: 70%;
    height: 40%;
    max-height: 150%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    gap : 20px;
    border: 2px solid #6995f5;
    overflow-y:hidden;
}

/* Conteneur de l'image */
.image-container {
    width: 95%; /* Garde un espace de 2% de chaque côté */
    max-width: 400px;
    height:65%;
    border-radius: 20px;
    margin: 5px;
    border: 3px solid #5289FF;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Image */
.image-container img {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    border-radius: 20px;
    object-fit: cover;  
    z-index: 1; 
}

.image-container .validation-icon {
    position: absolute;
    z-index: 100;
    width: 100%; /* Taille de l'icône */
    height: 100%;
    opacity: 0.7;
}



/* Conteneur du nom du produit */
.product-name {
    height: 25%;
    background-color: white;
    padding: 4% 0;
    margin-top: -20px; /* Légèrement chevauché sur l'image */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%; /* Toujours garder une bonne marge */
}

/* Titre du produit */
.product-name p{
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color: #333333;
    font-size: 1.3rem;
    padding: 5px;
    margin-bottom: 5px; /* Empêche le texte de sauter à la ligne */
    overflow: hidden;
    text-overflow: ellipsis;
}

